<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bold -->
      <package
            uri="http://andle.mikero.nl/bold"
            class="Bold.BoldPackage"
            genModel="model/bold.genmodel"/>
   </extension>

</plugin>
