<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bold -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="nl.mikero.andle.bold.presentation.BoldModelWizardID"
            name="%_UI_BoldModelWizard_label"
            class="nl.mikero.andle.bold.presentation.BoldModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BoldModelFile.gif">
         <description>%_UI_BoldModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bold -->
      <editor
            id="nl.mikero.andle.bold.presentation.BoldEditorID"
            name="%_UI_BoldEditor_label"
            icon="icons/full/obj16/BoldModelFile.gif"
            extensions="bold"
            class="nl.mikero.andle.bold.presentation.BoldEditor"
            contributorClass="nl.mikero.andle.bold.presentation.BoldActionBarContributor">
      </editor>
   </extension>

</plugin>
