<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated andle -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="andle.presentation.AndleModelWizardID"
            name="%_UI_AndleModelWizard_label"
            class="andle.presentation.AndleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AndleModelFile.gif">
         <description>%_UI_AndleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated andle -->
      <editor
            id="andle.presentation.AndleEditorID"
            name="%_UI_AndleEditor_label"
            icon="icons/full/obj16/AndleModelFile.gif"
            extensions="andle"
            class="andle.presentation.AndleEditor"
            contributorClass="andle.presentation.AndleActionBarContributor">
      </editor>
   </extension>

</plugin>
